.cart {
  position: relative;
}

.cart a {
  display: block;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 75px;
  font-family: "Verdana", "Geneva", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  text-align: left;
  
  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 35px;
    width: 21px;
    height: 19px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -5px -5px;
  }
  
  &:hover {
    color: #8d8d8d;
  }
  
  &:hover::before {
    background: url(../img/sprite.png) no-repeat;
    background-position: -5px -61px;
  }
  
  &:active {
    color: #cacaca;
  }
  
  &:active::before {
    opacity: 0.3;
  }
  
}

@media @tablet-widths {
  
  .cart {
    display: inline-block;
  }
  
  .cart a {
    padding-top: 35px;
    padding-bottom: 35px;
    
    &::before {
      top: 35px;
    }
  }
  
  
}