.catalog {
  .container-fluid();
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: @body-font-family;
  font-size: @body-font-size;
  line-height: 30px;
  color: @body-color;
  background-color: @body-bg;
}

.catalog__item {
  margin-top: 30px;
  border: 1px solid #ededed;
}

.catalog__item-image {
  margin-bottom: 10px;
}

.catalog__item-image img {
  width: 258px;
  height: 195px;
}

.catalog__item-info {
  padding-left: 28px;
  padding-right: 28px;
}

.catalog__item-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}

.catalog__item-title,
.catalog__item-description {
  margin: 0;
}

.catalog__item-title a {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  
  &:hover {
    opacity: 0.6;
  }
  
  &:active {
    opacity: 0.3;
  }
}

.catalog__item-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog__item-price {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  
  &:hover {
    opacity: 0.6;
  }
  
  &:active {
    opacity: 0.3;
  }
}

.catalog__item-cart {
  width: 20px;
  height: 19px;
  opacity: 0.2;
  
  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }
  
  &:active {
    fill: #63d1bb;
    opacity: 0.2;
  }
}

@media @tablet-widths {
  
  .catalog {
    margin-bottom: 50px;
  }
  
  .catalog__item {
    display: flex;
    flex-direction: row;
    height: 334px;
  }
  
  .catalog__item-image {
    margin-bottom: 0;
  }
  
  .catalog__item-image img {
    width: 334px;
    height: 334px;
  }
  
  .catalog__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    padding-top: 30px;
    padding-right: 0;
  }
  
  .catalog__item-header {
    border-bottom: none;
  }
  
  .catalog__item-title a {
    font-size: 18px;
  }
  
  .catalog__item-description {
    font-size: 15px;
    line-height: 30px;
  }
  
  .catalog__item-footer {
    margin-right: 30px;
    border-top: 1px solid #ededed;
  }
  
  .catalog__item-price {
    font-size: 16px;
    line-height: 24px;
  }
  
}

@media @desktop-widths {
  
  .catalog {
    display: flex;
    justify-content: flex-start;
  }
  
  .catalog__item {
    width: 316px;
    height: 660px;
    margin-right: 51px;
    flex-direction: column;
    border: none;
  }
  
  .catalog__item-image {
    height: 462px;
  }
  
  .catalog__item-image img {
    width: 316px;
    height: 462px;
  }
  
  .catalog__item:last-child {
    margin-right: 0;
  }
  
  .catalog__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 46px;
    width: 240px;
    border: 1px solid #ededed;
    border-top: none;
    
    &:hover {
      box-shadow: 0 6px 10px #ececec;
    }
    
    &:active {
      box-shadow: 0 3px 5px #ececec;
    }
  }
  
  .catalog__item-header {
    min-height: 100px;
    padding-bottom: 0;
  }
  
  .catalog__item-footer {
    width: 260px;
    margin-right: 0;
  }
  
}