.content__title {
  margin: 0;
  padding-top: 65px;
  padding-bottom: 80px;
  font-family: "Verdana", "Geneva", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
}

@media @tablet-widths {
  
  .content__title {
    margin-top: -43px;
    margin-bottom: 70px;
    padding-top: 90px;
    padding-bottom: 95px;
    font-size: 40px;
    line-height: 50px;
    background-image: url(../img/bg-zigzag-fill.svg);
    background-repeat: repeat-x;
    background-position: 0% 100%;
    background-size: auto 24px;
    border-top: 1px solid #dfdfdf;
  }
  
}

@media @desktop-widths {
  
  .content__title {
    margin-bottom: 50px;
    padding-top: 90px;
    padding-bottom: 120px;
    font-size: 50px;
    line-height: 57px;
    background-size: auto auto;
  }
  
  .content__title--catalog {
    margin-bottom: 60px;
    padding-bottom: 120px;
  }
  
}