.form {
  font-family: @body-font-family;
  font-size: @body-font-size;
  line-height: 26px;
  color: @body-color;
  background-color: @body-bg;
}

.form__wrapper {
  .container-fluid();
}

.form__header,
.form__type,
.form__color,
.form__full-name,
.form__tel,
.form__email,
.form__other {
  padding-left: 30px;
  padding-right: 30px;
}

.form__title {
  margin-top: 30px;
  font-family: @body-font-family;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__input-items {
  display: flex;
  flex-direction: column;
}

.form__input-type,
.form__input-color {
  display: flex;
  margin-top: 25px;
}

.form__input-full-name {
  display: flex;
  flex-direction: column;
}

.form__content label {
  margin-left: 20px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  color: #000000;
}

.form__input-full-name label {
  margin-left: 0;
}

.form--btn {
  width: 260px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

.form__note {
  display: none;
}

@media @tablet-widths {
  
  .form {
    font-size: 18px;
    line-height: 18px;
  }
  
  .form__header,
  .form__type,
  .form__color,
  .form__full-name,
  .form__tel,
  .form__email,
  .form__other {
    padding: 0;
  }
  
  .form__header-description {
    font-size: 16px;
    line-height: 30px;
  }
  
  .form__content {
    display: flex;
    flex-direction: column;
  }
  
  .form__wrapper {
    display: flex;
  }
  
  .form__title {
    width: 167px;
    margin-top: 50px;
  }
  
  .form__input-items {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .form__color,
  .form__tel,
  .form__email {
    background-color: #f1f1f1;
  }
  
  .form__input-items--color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .form__input-color {
    width: 200px;
  }
  
  .form__title--color {
    margin-right: 100px;
  }
  
  .form__input-full-name {
    flex-direction: row;
  }
  
  .form__input-full-name label {
    margin-right: 20px;
  }
  
  .form__input-tel {
    margin-top: 50px;
  }
  
  .form__title--email {
    margin-top: 0;
  }
  
  .form__input-email {
    margin-bottom: 40px;
  }
  
  .form__input-other {
    margin-top: 50px;
  }
  
  .form__other {
    margin-bottom: 40px;
  }
  
  .form--btn {
    margin: 0;
    margin-bottom: 40px;
  }
  
  .form__btn {
    .container-fluid();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .form__note {
    display: block;
    font-family: @body-font-family;
    font-size: 16px;
    line-height: 30px;
    color: @body-color;
  }
  
}

@media @desktop-widths {
  
  .form__header-description {
    margin-left: 225px;
    margin-right: 175px;
  }
  
  .form__title {
    flex-basis: 175px;
    margin-left: 50px;
  }
  
  .form__input-color {
    width: 250px;
  }
  
  .form__title--color {
    margin-right: 80px;
  }
  
  .form--btn {
    margin-left: 225px;
  }
  
  .form__note {
    margin-right: 175px;
  }
  
}