.page-header {
  background-color: @body-bg;
}

.page-header__logo {
  height: 80px;
  text-align: center;
}

.page-header__logo img {
  margin-top: 22px;
  width: 86px;
  height: 36px;
  
  &:hover {
    opacity: 0.6;
  }
  
  &:active {
    opacity: 0.3;
  }
  
}

.page-header__user-items,
.page-header__user-items-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__delivery-info,
.page-header__second-nav {
  display: none;
}

@media @tablet-widths {
  
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .container-fluid();
  }
  
  .page-header__main-nav {
    flex-basis: 50%;
    order: 1;
    text-align: left;
  }
  
  .page-header__logo {
    flex-basis: 20%;
    height: 88px;
    text-align: left;
  }
  
  .page-header__logo img {
    margin-top: 15px;
    width: 113px;
    height: 47px;
  }
  
  .page-header__user-items {
    flex-basis: 80%;
    text-align: right;
  }
  
  .page-header__delivery-info {
    display: block;
    flex-basis: 50%;
    order: 2;
    text-align: right;
    font-family: "Verdana regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
  }
  
}

@media @desktop-widths {
  
  .page-header__logo {
    flex-basis: 20%;
    order: 0;
    text-align: center;
  }
  
  .page-header__logo img {
    margin-top: 1px;
    width: 149px;
    height: 73px;
  }
  
  .page-header__main-nav {
    flex-basis: 40%;
    order: -1;
  }
  
  .page-header__user-items {
    flex-basis: 40%;
    flex-basis: 1;
  }
  
  .page-header__second-nav {
    display: block;
    flex-basis: 50%;
    order: 2;
  }
  
  .page-header__second-nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .page-header__second-nav-item {
    display: inline-block;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
  }
  
  .page-header__second-nav-item a {
    font-family: "Verdana", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    text-align: left;
    
    &:hover {
      opacity: 0.6;
    }
  
    &:active {
      opacity: 0.3;
    }
  }
  
  .page-header__delivery-info {
    order: 3;
  }
  
}