.page-footer {
  .container-fluid();
  background-color: #f1f1f1;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

@media @tablet-widths {
  
  .page-footer__wrapper {
    .clearfix();
    .container();
  }
  
  .page-footer__social {
    float: left;
    margin-right: 60px;
  }
  
  .page-footer__copyright {
    float: left;
  }
  
}