.second-nav__items,
.second-nav__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.second-nav__item--first {
  background-color: #63d1bb;
}

.second-nav__item--second {
  background-color: #56c3b2;
}