.social-link {
  margin-right: 42px;
  list-style: none;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link--instagram a {
  display: block;
  width: 22px;
  height: 21px;
}

.social-link--facebook a {
  display: block;
  width: 15px;
  height: 28px;
}

.social-link--twitter a {
  display: block;
  width: 23px;
  height: 20px;
}

.social-link:hover svg {
  fill: #46c1ae;
}

.social-link:active svg {
  opacity: 0.3;
}