.top-image {
  padding-top: 70px;
  padding-right: 43px;
  padding-bottom: 110px;
  padding-left: 43px;
  border-top: 1px solid #ececec;
  background: url(../img/hero-mobile@1x.jpg) no-repeat 50% 50% #fafafa;
}

.top-image__title {
  .container-fluid();
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

@media @tablet-widths {
  
  .top-image {
    margin-top: -35px;
    padding-top: 150px;
    padding-bottom: 375px;
  }
  
  .top-image__title {
    font-size: 40px;
    line-height: 50px;
  }
  
}

@media @desktop-widths {
  
  .top-image__title {
    font-size: 50px;
    line-height: 57px;
  }
  
}