.top-product {
  padding-bottom: 40px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-position: 50% 100%;
  background-size: auto 6px;
}

.top-product__wrapper {
  .container-fluid();
  margin-left: 30px;
  margin-right: 30px;
  font-family: @body-font-family;
  font-size: @body-font-size; 
  line-height: 24px;
  color: @body-color;
  background-color: @body-bg;
}

.top-product__header {
  margin-top: 30px;
  margin-bottom: 25px;
}

.top-product__title {
  margin: 0;
  width: 265px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.top-product__week {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.top-product__data {
  
  td {
    width: 20%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ececec; 
  }
  
}

.top-product__image img {
  width: 260px;
  height: 315px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.top-product__price {
  display: block;
  margin-left: 60px;
  margin-bottom: 25px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

@media @tablet-widths {
  
  .top-product {
    padding-bottom: 20px;
    background-size: auto 17px;
  }
  
  .top-product__wrapper {
    position: relative;
    margin-bottom: 50px;
    .clearfix();
  }
  
  .top-product__header {
    .clearfix();
  }
  
  .top-product__title {
    float: left;
    width: 500px;
    font-size: 40px;
    line-height: 50px;
  }
  
  .top-product__week {
    float: right;
    width: 70px;
    margin-top: 10px;
    text-align: center;
  }
  
  .top-product__description {
    margin-top: 50px;
    font-size: 16px;
    line-height: 30px;
  }
  
  .top-product__description,
  .top-product__data,
  .top-product__price {
    width: 290px;
  }
  
  .top-product__image {
    position: absolute;
    top: 80px;
    right: 0px;
  }
  
  .top-product__image img {
    width: 333px;
    height: 404px;
  }
  
  .top-product__price {
    margin-top: 55px;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .btn--top-product {
    float: left;
    width: 118px;
  }
  
}

@media @desktop-widths {
  
  .top-product {
    padding-bottom: 40px;
    background-size: auto 23px;
  }
  
  .top-product__title,
  .top-product__description,
  .top-product__data,
  .top-product__price,
  .btn--top-product {
    margin-left: 175px;
  }
  
  .top-product__header {
    position: relative;
    z-index: 100;
  }
  
  .top-product__title {
    width: 550px;
    font-size: 50px;
    line-height: 57px;
  }
  
  .top-product__week {
    position: absolute;
    left: 50px;
  }
  
  .top-product__description {
    margin-bottom: 50px;
  }
  
  .top-product__price {
    margin-top: 90px;
    margin-left: 249px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .top-product__image {
    position: absolute;
    top: -80px;
    right: 0px;
  }
  
  .top-product__image img {
    width: 525px;
    height: 636px;
  }
  
  .btn--top-product {
    text-align: center;
  }
  
}