.top-image {
  padding-top: 90px;
  padding-right: 43px;
  padding-bottom: 120px;
  padding-left: 43px;
  border-top: 1px solid #ececec;
  background: url(../img/hero-mobile@1x.jpg) no-repeat 50% 50% #fafafa;
}

.top-image__title {
  width: 260px;
  margin: 0 auto;
  text-align: center;
}

@media @tablet-widths {
  
  .top-image__title {
    width: 550px;
  }
  
}

@media @desktop-widths {
  
  .top-image__title {
    width: 700px;
  }
  
}